<div id="placeholder" style="width: {% if width is defined %}width{% else %}100%{% endif %}; height: 400px;"></div>
<div id="nav_zoom_mode" style="display: none;">
    <p>You can zoom into the chart by dragging, double clicking or using your scrollwheel. <br />
    </p>
    <p>You can switch to select based zoom mode; <button class="btn">clicky!</button>
    </p>
</div>
<div id="select_zoom_mode">
    <p>You can zoom into the chart by dragging a selection of the area you want to zoom into. <br />
    </p>
    <p>You can switch to navigation based zoom mode; <button class="btn">clicky!</button>
    </p>
</div>

<script type="text/javascript">
$(window).load(function() {
    fetchchart("{{ "/chart/" ~ item.dataId }}");
    bindZoomModeButtons();
});
</script>
